# .NET
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates
.vs/

# Node
node_modules/
.output/
.nuxt/
dist/

# Environment
.env
*.local
docker-compose.override.yml

# IDE
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db

# Test
coverage/
